<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K-Means Police Stations</title>
</head>
<body>
    <center>
    <h1>K-Means Police Stations</h1>
   <i></u> <p> Using our police stations data and the locations of universities with bottom half safety scores (score < 0.5),
        <br>
        we use the k-means algorithm to find optimal placement for new police stations in order to improve safety scores for
        <br>
       the lowest scoring universities. </p></i>
        <br>
       <p><b>How many police stations would you like to add to the map?</b></p>

       <form action="/ChooseK/" method="post">
            <input type="number" name="k">
            <input type=submit value="Submit">
        </form>

        <br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
        {% for message in messages %}
            <b>{{ message }}</b>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}

</center>


</body>
</html>