<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="echarts.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1200px;height:800px;"></div>
    <script type="text/javascript">2
        //var echarts = require('echarts');
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var statement;

        statement = "bar";

        switch (statement) {
            case "bar":
                $.getJSON("schoolscore.json", function(data){

                    keys = ["Name", "total", "safety", "comfort", "traffic"];

                    var Name = [];
                    var Values = [];
                    var series = [];
                    //console.log(data[0]['school']);

                    for (i = 1; i < keys.length; i++) {
                        Values.push([]);
                    }


                    for (i = 0; i < 10; i++) {
                        Name.push(data[i]['school']);
                        Values[0].push(data[i]['total']);
                        Values[1].push(data[i]['safety']);
                        Values[2].push(data[i]['comfort']);
                        Values[3].push(data[i]['traffic']);
                    }
                

                    for (i = 0; i < keys.length - 1; i++) {
                        series.push ({
                                name:keys[i + 1],
                                type:'bar',
                                data:Values[i],
                                markPoint : {
                                    data : [
                                        {type : 'max', name: '最大值'},
                                        {type : 'min', name: '最小值'}
                                    ]
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '平均值'}
                                    ]
                                }
                            });
                    }
                    option = {
                        title : {
                            text: 'Bar Chart'
                        },
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data: keys.slice(1, keys.length)
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                dataView : {show: true, readOnly: false},
                                magicType : {show: true, type: ['line', 'bar']},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type : 'category',
                                data : Name
                            },
                        ],
                        yAxis : [
                            {
                                type : 'value'
                            },
                        ],
                        series : series
                    };
                    myChart.setOption(option);
                });
                break;

        }


    </script>
</body>
</html>