<!DOCTYPE html>
<html>
  <head>
    <title>Customized Score System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="map.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>

  <a href="homepage.html" class="w3-bar-item w3-button" style="color:white">Home</a>
  <body>
    <h2>Top Preferred Colleges</h2>
      <div id="panel">
        <fieldset id="step_1">
      
        <legend>Step 1</legend>
      
        <p>
        How do you weigh your desired rate for Safety?
        </p>

        <select id="saf">
          <option value="1">1</option>
          <option value="2" selected="selected">2</option>
          <option value="3">3</option>
        </select>
      </fieldset>
      <fieldset id="step_2">
      
        <legend>Step 2</legend>
      
        <p>
        How do you weigh your desired rate for Convenience?
        </p>
        
        
        <select id="tra">
          <option value="1">1</option>
          <option value="2" selected="selected">2</option>
          <option value="3">3</option>
        </select>
      
      </fieldset>
    
      <fieldset id="step_3">
        <legend>Step 3</legend>
      
        <p>
        How do you weigh your desired rate for Comfort?
        </p>

        <select id="com">
          <option value="1">1</option>
          <option value="2" selected="selected">2</option>
          <option value="3">3</option>
        </select>
      </fieldset>
      <br>

    <input type="button" id="sbtn" name="button" value="Submit">
        <br>
        <br>
      <div id="map"></div>
    </div>

    <div id="last">
    <br>
    </div>


    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="map.js"></script>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyPM0wSuYqcj8KgNZJ6nRyiG4ECnNv3zc&callback=initMap">
    </script>





  </body>
</html>
