<!DOCTYPE html>
<html>

<head>
    <title>Home - Signs</title>
</head>

<body>
    <h3>Optimal Placements of Speed FeedBack Signs Throughout Boston</h3>
    <p>Enter parameters and click submit to see the resulting map</p>

    <form action="{{url_for('getmap')}}" method='post'>

        <p>Mean Skew</p>
        <output name="msOutput" id="msOutputID">1</output><br/>
        <input type="range" name="Mean Skew" id="msInputID" min=".5" max="2" step=".1" value="1.0" oninput="msOutputID.value = msInputID.value"><br/><br/>

        <p>Radius</p>
        <output name="rOutput" id="rOutputID">2.0</output><br/>
        <input type="range" name="Radius" id="rInputID" min=".5" max="4.0" step=".25" value="2.0" oninput="rOutputID.value = rInputID.value"><br/><br/>

        <p>Cluster Divisors</p>
        <output name="cdOutput" id="cdOutputID">15</output><br/>
        <input type="range" name="Cluster Divisors" id="cdInputID" min="10" max="20" step="1" value="15" oninput="cdOutputID.value = cdInputID.value"><br/><br/>

        <p>Sign Count</p>
        <output name="scOutput" id="scOutputID">30</output><br/>
        <input type="range" name="Sign Count" id=scInputID min="5" max="50" step="5" value="30" oninput="scOutputID.value = scInputID.value"><br/><br/>

        <p>Buffer Size</p>
        <output name="bsOutput" id="bsOutputID">.5</output><br/>
        <input type="range" name="Buffer Size" id="bsInputID" min=".1" max="1" step=".1" value=".5" oninput="bsOutputID.value = bsInputID.value"><br/><br/>

        <input type="submit">
        <input type="reset">
    </form>
    <p>Requests will take about 60 seconds on average, but invalid responses from our datasets may 
        require our algorithm to repeat. </p>

</body>

</html>