<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <title>corrfinder</title>
        <link href="static/layout.css" rel="stylesheet" type="text/css" />
        <link href="static/menu.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <h2>CS591 Gentrification Ben G, Ray K, Ned G</h2>
            <a href="https://github.com/rekfish/course-2017-fal-proj/tree/master/raykatz_nedg_gaudiosi" class="stuts">Link to the repo on<span>Github</span></a>
        </header>
       <div class="container">


            <ul id="nav">
                <li><a href="/">Home</a></li>
                <li><a class="hsubs" href="/">StatTrack</a>
                    <ul class="subs">
                        <li><a href="{{url_for ('stattrack',zip=02129)}}">Downtown&Charlestown</a></li>
                        <li><a href="{{url_for ('stattrack',zip=02128)}}">East Boston</a></li>
                        <li><a href="{{url_for ('stattrack',zip=02119)}}">Roxbury</a></li>
                        <li><a href="{{url_for ('stattrack',zip=02126)}}">Mattapan</a></li>
                        <li><a href="{{url_for ('stattrack',zip=02127)}}">South Boston</a></li>
                        <li><a href="{{url_for ('stattrack',zip=02121)}}">Dorchester</a></li>
                        <li><a href="{{url_for ('stattrack',zip=02118)}}">South End</a></li>
                        <li><a href="{{url_for ('stattrack',zip=02134)}}">Brighton/Allston</a></li>
                        <li><a href="{{url_for ('stattrack',zip=02132)}}">West Roxbury</a></li>
                        <li><a href="{{url_for ('stattrack',zip=02130)}}">Jamaica Plain</a></li>
                        <li><a href="{{url_for ('stattrack',zip=02136)}}">Hyde Park</a></li>
                    </ul>
                </li>
                <li><a href="/map">LiveMap</a></li>
                <li><a href="/corrfinder">Correlation Finder</a></li>
                <li><a href="/">Back</a></li>
                <div id="lavalamp"></div>
            </ul>

        <form action="/action_page.php">
        <style>
        p {
            color: green
        }
        </style>
          <p>select 1 here:</p>
          <input type="radio" name="district1" value="Downtown&Charlestown" checked> Downtown&Charlestown<br>
          <input type="radio" name="district1" value="East Boston"> East Boston<br>
          <input type="radio" name="district1" value="Roxbury"> Roxbury<br>
          <input type="radio" name="district1" value="Mattapan"> Mattapan<br>
          <input type="radio" name="district1" value="Roxbury"> Roxbury<br>
          <input type="radio" name="district1" value="South Boston"> South Boston<br>
          <input type="radio" name="district1" value="Dorchester"> Dorchester<br>
          <input type="radio" name="district1" value="South End"> South End<br>
          <input type="radio" name="district1" value="Brighton/Allston"> Brighton/Allston<br>
          <input type="radio" name="district1" value="West Roxbury"> West Roxbury<br>
          <input type="radio" name="district1" value="Jamaica Plain"> Jamaica Plain<br>
          <input type="radio" name="district1" value="Hyde Park"> Hyde Park<br>
          <p>select another here</p>
          <input type="radio" name="district2" value="Downtown&Charlestown" checked> Downtown&Charlestown<br>
          <input type="radio" name="district2" value="East Boston"> East Boston<br>
          <input type="radio" name="district2" value="Roxbury"> Roxbury<br>
          <input type="radio" name="district2" value="Mattapan"> Mattapan<br>
          <input type="radio" name="district2" value="Roxbury"> Roxbury<br>
          <input type="radio" name="district2" value="South Boston"> South Boston<br>
          <input type="radio" name="district2" value="Dorchester"> Dorchester<br>
          <input type="radio" name="district2" value="South End"> South End<br>
          <input type="radio" name="district2" value="Brighton/Allston"> Brighton/Allston<br>
          <input type="radio" name="district2" value="West Roxbury"> West Roxbury<br>
          <input type="radio" name="district2" value="Jamaica Plain"> Jamaica Plain<br>
          <input type="radio" name="district2" value="Hyde Park"> Hyde Park<br>
          <input type="submit" value="Submit">
        </form>
        <div class="select-style">
          <select>
            <option value="Downtown&Charlestown">Downtown&Charlestown</option>
            <option value="East Boston">East Boston</option>
            <option value="Roxbury">Roxbury</option>
            <option value="Mattapan">Mattapan</option>
            <option value="South Boston">South Boston</option>
            <option value="Dorchester">Dorchester</option>
            <option value="South End">South End</option>
            <option value="Brighton/Allston">Brighton/Allston</option>
            <option value="West Roxbury">West Roxbury</option>
            <option value="Jamaica Plain">Jamaica Plain</option>
            <option value="Hyde Park">Hyde Park</option>
          </select>
        </div>

        </div>        
    </body>
</html>