<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="static/map.css" rel="stylesheet" type="text/css" />
        <link href="static/layout.css" rel="stylesheet" type="text/css" />
        <link href="static/menu.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <h2>CS591 Gentrification Ben G, Ray K, Ned G</h2>
            <a href="https://github.com/rekfish/course-2017-fal-proj/tree/master/raykatz_nedg_gaudiosi" class="stuts">Link to the repo on<span>Github</span></a>
        </header>
       <div class="container">


            <ul id="nav">
                <li><a href="/">Home</a></li>
                <li><a class="hsubs" href="/">StatTrack</a>
                    <ul class="subs">
                        <li><a href="{{url_for ('stattrack',zip="02129")}}">Downtown&Charlestown</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02128")}}">East Boston</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02119")}}">Roxbury</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02126")}}">Mattapan</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02127")}}">South Boston</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02121")}}">Dorchester</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02118")}}">South End</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02134")}}">Brighton/Allston</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02132")}}">West Roxbury</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02130")}}">Jamaica Plain</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02136")}}">Hyde Park</a></li>
                    </ul>
                </li>
                <li><a href="/map">LiveMap</a></li>
                <li><a href="/corrfinder">Correlation Finder</a></li>
                <li><a href="/">Back</a></li>
                <div id="lavalamp"></div>
            </ul>
                <style>
                p {
                        color: aliceblue
                }
                </style>
                    <p class="lead">Using our interactive Gentrification tracker, users can explore various regions in Boston and examine a live map of the data! </p>
             <center><svg></svg></center>
             <p>Alter the weights of different variables and see how the gentrification score changes!</p>
            <form method="post" action="{{ url_for('map') }}">
                <label for="percent_white">Percent White Weight:</label>
                <input type="number" name="percent_white" value="1" step="0.1" /><br />
                
                <label for="percent_married_households">Percent Married Weight:</label>
                <input type="number" name="percent_married_households" value="1" step="0.1" /><br />
                
                <label for="percent_unemployed">Unemployment Weight:</label>
                <input type="number" name="percent_unemployed"  value="1" step="0.1" /><br />
                
                <label for="percent_in_labor_force">Labor Force Participation Weight:</label>
                <input type="number" name="percent_in_labor_force" value="1" step="0.1" /><br />
                
                <label for="percent_public_transit">Percent Taking Public Transit Weight:</label>
                <input type="number" name="percent_public_transit" value="1" step="0.1" /><br />
                
                <label for="median_income">Median Income Weight:</label>
                <input type="number" name="median_income" value="1" step="0.1" /><br />
                
                <label for="median_rent">Median Rent Weight:</label>
                <input type="number" name="median_rent" value="1" step="0.1" /><br />
                
                <label for="percent_spending_50_rent">Percent Spending >50% of their Income on Rent Weight:</label>
                <input type="number" name="percent_spending_50_rent" value="1" step="0.1" /><br />
                
                <label for="percent_poverty">Poverty Rate Weight:</label>
                <input type="number" name="percent_poverty" value="1" step="0.1" /><br />
                
                <label for="percent_homes_built_before_1939">Percent of Homes Built Before 1939 Weight:</label>
                <input type="number" name="percent_homes_built_before_1939" value="1" step="0.1" /><br />
                
                <label for="percent_renting">Percent Renting Weight:</label>
                <input type="number" name="percent_renting" value="1" step="0.1" /><br />
                
                <label for="subway_stops">T Stops Weight:</label>
                <input type="number" name="subway_stops" value="1" step="0.1" /><br />
                
                <label for="bus_stops">Bus Stops Weight:</label>
                <input type="number" name="bus_stops" value="1" step="0.1" /><br />
                
                <input type="submit" />
            </form>
       </div>
        
        
        <script src="https://d3js.org/d3.v3.min.js"></script>
    <script> var scores = {{ scores|safe }}; var zipinfo = {{zipinfo|safe}};</script>

        <script src="static/map.js"></script>

    </body>
</html>
