<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <title>stattrack</title>
        <link href="static/layout.css" rel="stylesheet" type="text/css" />
        <link href="static/menu.css" rel="stylesheet" type="text/css" />
                <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <h2>CS591 Gentrification Ben G, Ray K, Ned G</h2>
            <a href="https://github.com/rekfish/course-2017-fal-proj/tree/master/raykatz_nedg_gaudiosi" class="stuts">Link to the repo on<span>Github</span></a>
        </header>
       <div class="container">


            <ul id="nav">
                <li><a href="/">Home</a></li>
                <li><a class="hsubs" href="/">StatTrack</a>
                    <ul class="subs">
                        <li><a href="{{url_for ('stattrack',zip="02129")}}">Downtown&Charlestown</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02128")}}">East Boston</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02119")}}">Roxbury</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02126")}}">Mattapan</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02127")}}">South Boston</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02121")}}">Dorchester</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02118")}}">South End</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02134")}}">Brighton/Allston</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02132")}}">West Roxbury</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02130")}}">Jamaica Plain</a></li>
                        <li><a href="{{url_for ('stattrack',zip="02136")}}">Hyde Park</a></li>
                    </ul>
                </li>
                <li><a href="/map">LiveMap</a></li>
                <li><a href="/corrfinder">Correlation Finder</a></li>
                <li><a href="/">Back</a></li>
                <div id="lavalamp"></div>
            </ul>
            <style>
                p {
                        color: aliceblue
                }
            </style>
            <table style="width:100%" bgcolor="#336600">
            {% for key, value in info.items() %}
               <tr>
                    <th> {{ key }} </th>
                    <td> {{ value }} </td>

               </tr>
            {% endfor %}
            </table>

                                    

        </div>
    </body>
</html>