<html>
	<head>
		<title>Heat Map</title>
		<!-- <link rel="stylesheet" type="text/css" href="heatmap.css"> -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
			<!--Imports library necessary to generate heat map. May want to include key eventually.-->
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=&libraries=visualization"></script>
	</head>
	<body>

	    	<script>console.log("{{ url_for('static', filename='heatscript.js') }}")
	    			console.log("{{ url_for('static', filename='style.css') }}")
	    	</script>
		<!--Generates buttons for interaction.-->
		<div id="buttons">
  			<button onclick="addCentroid()">Add Centroid</button>
  			<button onclick="removeCentroid()">Remove Centroid</button>
		</div>
		<!--Runs script necessary to generate heatmap.-->
		<div id="map">	
	    	<script src="{{ url_for('static', filename='heatscript.js') }}"></script>
			<!-- <script src="heatmap.js"></script> -->
		</div>
	</body>
</html>