doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.0.2/dist/leaflet.css')
  body
    
    block content
