<!DOCTYPE html>
<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">    <title> Response Center Placements </title>

    <link rel="stylesheet" type="text/css" href="static/style.css">


</head>
<body>

<div class="wrapper">
<h2>{{ msg }}</h2>
<h1> Generate Response Center Locations </h1>
  <form method="POST" action="/kmeans">
      <input type="number" name = "distance" placeholder="Distance" min="1" step="0.01" class="input" required><br><br>
      <input type="radio" name="option" value = "average" required> Average Distance
    <input type="radio" name="option"  value="max"> Max Distance<br><br>
      <input type="submit" value="Enter" class="button" onsubmit="showLoader()">
      <div id="loading" class="loader" style="display: none;z-index: 10000;  top: 30%;left: 47%;"></div>
  </form>
</div>

</body>
<script type="text/javascript">
	function showLoader() {
		console.log('show loader');
		console.log(document.getElementById("loading").style.display);
    	document.getElementById("loading").style.display = "block";
    	console.log(document.getElementById("loading").style.display);
	};
	function hideLoader() {
    	document.getElementById("loading").style.display= "none";
	};

</script>

</html>