<!DOCTYPE html>
<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">    <title> Response Center Placements </title>

    <link rel="stylesheet" type="text/css" href="static/style.css">

<style type="text/css">
	.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>
</head>
<body >

<div class="wrapper">
<h2>{{ msg }}</h2>
<h1> Generate Response Center Locations </h1>
  <form method="POST" action="/kmeans">
      <input type="number" name = "distance" placeholder="Distance" min="0" class="input" required><br><br>
      <input type="radio" name="option" value = "average" required> Average Distance
    <input type="radio" name="option"  value="max"> Max Distance<br><br>
      <input type="submit" value="Enter" class="button" onsubmit="showLoader()">
      <div id="loading" class="loader" style="display: none;z-index: 10000;  top: 30%;
    left: 47%;"></div>
  </form>
</div>

</body>
<script type="text/javascript">
	function showLoader() {
		console.log('show loader')
		console.log(document.getElementById("loading").style.display)
    	document.getElementById("loading").style.display = "block";
    	console.log(document.getElementById("loading").style.display)
	};
	function hideLoader() {
    	document.getElementById("loading").style.display= "none";
	};

</script>

</html>